body,p,h1,h2,h3,h4,h5 {
  color: #0078e7;
  font-family: 'PT Sans', sans-serif;
  font-weight:normal;
}

body{
  /*background: #FFDF7C;*/
}

.container {
  max-width:1366px;
  margin: 0 auto;
  border:10px solid #0078e7;
  /*background: #FFDF7C;*/
}


hr{
  border:none;
  height:1px;
  border-top: 1px solid #0078e7;
}
.adj {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 1.35em;
  background: #75ECD7;
}

.adj h1{
  font-weight: 700;
  text-shadow: 0.07em 0.07em 0 #0078e7;
  color:#EB705E;
}
.adj a, .adj a:visited{
  color:#0078e7;
}

.main {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-top: 1.35em;
  padding-bottom: 1.35em;
  padding-left: 5.4em;
  padding-right: 5.4em;
}

.main *{
  color: #323232;
}

.inset {
  float:right;
  border-left:2px solid #75ECD7;
}

.inset h5 {
  color:#0078e7;
  font-weight:700;
}

.adj .pure-button {margin-right:5px; margin-bottom:5px;}
/*.adj .pure-button-disabled {background-color:#ccc; margin-top: 1em;}*/
.measure {position:relative;}

#adjFontFace, #adjLineHeight {
  width: 100%;
}
